html {
    scroll-behavior: smooth;
    background-color: #292A2D;
    /* TODO: Deviendra un canva apres */
    color: white;
    /* TODO: Trouver une meilleure couleur */
    overflow-x: hidden;
}
*{
    font-family: 'Times New Roman', Times, serif;
}
body {
    margin: 0;
}

/* Header */

#test {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(70, 197, 123);
    width: 0;
    height: 2px;
}

header {
    display: flex;
    letter-spacing: 1px;
    position: fixed;
    padding-top: 8px;
    width: 100%;
    top: 0;
    left: 0;
    transition: linear 0.1s;
    z-index: 10;
}

.scrolled {
    background-color: #292A2D;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 1);
}

#nav_links {
    display: flex;
    padding: 0;
    justify-content: flex-end;
}

.inside_link_item {
    display: inline;
}

.inside_link {
    color: white;
    /* TODO: Trouver une meilleure couleur */
    padding: 10px 20px;
    transition: cubic-bezier(0.09, 0.79, 0.87, 0.86) 0.3s;
    border-radius: 3px;
}

.inside_link_item>.inside_link:hover {
    /* Todo: to change */
    background-color: white;
    color: black;
}

#my_name {
    flex-grow: 0.85;
    margin-left: 20px;
    animation: forwards slideInLeft 1.5s;
    visibility: hidden;
}

#header_nav {
    flex-grow: 0.15;
    animation: forwards slideInRight 1.5s 1s;
    visibility: hidden;
}

/* Footer */

footer {
    display: flex;
    justify-content: space-evenly;
    background-color: #202124;
    position: relative;
    padding: 20px 0;
}

.footer_list {
    padding-inline-start: 0;
}

.footer_item {
    display: block;
}

.link_desc {
    font-weight: 500;
}

/* Main */
#top {
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
    font-size: 2.5em;
    margin: 0;
    padding: 25px 0;
}

/* Summary */

#photo {
    visibility: hidden;
    animation: forwards rotateToAppear 1.5s 2s;
}

#summary {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#summary_name {
    font-size: 4em;
    text-align: center;
    margin-block-end: 20px;
    visibility: hidden;
    animation: forwards slideInLeft 1.5s 2s;
}

#summary_motto {
    font-size: 1.8em;
    text-align: center;
    /* TODO: Bold font moins gras que l'élément du dessus */
    margin-block: 0;
    visibility: hidden;
    animation: forwards slideInLeft 1.5s 2s;
}

#social_media {
    margin-top: 10px;
    width: 50%;
    max-width: 400px;
    visibility: hidden;
    animation: forwards slideInRight 1.5s 2s;
}

#social_media>ul {
    display: flex;
    padding: 0;
    justify-content: space-evenly;
}

.media {
    display: inline;
}

.media>a>img {
    transition: linear 0.1s;
}

.media>a>img:hover {
    transform: scale(1.3);
    opacity: 0.8;
}

/* Contact */

#formulaire {
    background-color: #424242;
    padding: 30px 0;
}

#form {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;
}

.input {
    width: 30vw;
    min-width: 200px;
    height: 30px;
    border: 2px solid #252525;
    border-radius: 8px;
    margin: 10px 0;
    background-color: rgba(255, 255, 255, 0.2);
    color: rgba(200, 200, 200, 1);
    padding: 0;
    padding-left: 5px;
    font-size: 15px;
}

.input:invalid{
    border-color: rgba(197, 70, 70, 0.7);
}

.input:valid{
    border-color: rgba(70, 197, 123, 0.7);   
}

.input:focus {
    outline: none;
}

::placeholder {
    color: rgba(200, 200, 200, 1);
}

:-ms-input-placeholder {
    color: rgba(200, 200, 200, 1);
}

::-ms-input-placeholder  {
    color: rgba(200, 200, 200, 1);
}

#form_content {
    resize: none;
    height: 10vh;
    padding-top: 8px;
    font-size: 14px;
}

#submit {
    width: calc(30vw + 11px);
    border-color: #252525;
}

label {
    position: absolute;
    padding: 7px;
    margin-top: 12px;
    font-size: 15px;
    opacity: 0;
    display: none;
}

.active_label {
    animation: labelAppears 0.7s forwards;
}

.hidden_label {
    animation: labelDisappears 0.7s forwards;
}

/* Other */

a {
    color: rgb(70, 197, 123);
    text-decoration: none;
}

canvas {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}

/* Animations */

@keyframes slideInLeft {
    0% {
        transform: translateX(-200%);
    }

    50% {
        transform: translateX(10%);
    }

    100% {
        transform: translateX(0);
        visibility: visible;
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(200%);
    }

    50% {
        transform: translateX(-10%);
    }

    100% {
        visibility: visible;
        transform: translateX(0);
    }
}

@keyframes rotateToAppear {
    0% {
        transform: scale(0%) rotate(0deg);
    }

    100% {
        visibility: visible;
        transform: scale(100%) rotate(360deg);
    }
}

@keyframes labelAppears {
    0% {
        transform: translate(0);
    }
    
    50%{
        transform: translate(-130%);
    }
    
    100% {
        transform: translate(-110%);
        opacity: 1;
    }
}

@keyframes labelDisappears {
    
    0% {
        transform: translate(-110%);
        opacity: 1;
    }
    
    30%{
        transform: translate(-130%);
    }
    
    100% {
        opacity: 0;
        transform: translate(0);
    }
}

