html {
    /* TODO: Trouver une meilleure couleur */
    color: white;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

* {
    font-family: 'Times New Roman', Times, serif;
}

body {
    margin: 0;
}

/* Header */

#test {
    background-color: rgb(70, 197, 123);
    height: 2px;
    left: 0;
    position: fixed;
    top: 0;
    width: 0;
}

header {
    display: flex;
    left: 0;
    letter-spacing: 1px;
    padding: 17px 0 15px 0;
    font-size: 1.2em;
    position: fixed;
    top: 0;
    transition: linear 0.1s;
    width: 100%;
    z-index: 1;
}

.scrolled {
    background-color: #292A2D;
    box-shadow: 0 1px 5px 0 black;
    padding: 7px 0 5px 0;
    font-size: 1em;
}

#nav_links {
    display: flex;
    justify-content: flex-end;
    padding: 0;
}

.inside_link_item {
    display: inline;
}

.inside_link {
    border-radius: 3px;
    /* TODO: Trouver une meilleure couleur */
    color: white;
    padding: 10px 2vw;
    transition: cubic-bezier(0.09, 0.79, 0.87, 0.86) 0.3s;
}

.inside_link_item>.inside_link:hover {
    /* Todo: to change */
    background-color: white;
    color: black;
}

#my_name {
    animation: forwards slideInLeft 1.5s;
    flex-grow: 0.85;
    margin-left: 20px;
    visibility: hidden;
}

#header_nav {
    animation: forwards slideInRight 1.5s 1s;
    flex-grow: 0.15;
    visibility: hidden;
}

/* Footer */

footer {
    background-color: #202124;
    display: flex;
    justify-content: space-evenly;
    padding: 30px 0;
    scroll-snap-align: center;
}

.footer_list {
    padding-inline-start: 0;
}

.footer_item {
    display: block;
}

.link_desc {
    font-weight: 500;
}

/* Main */

#top {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 2.5em;
    margin: 0;
    padding: 100px 0 75px 0;
    text-align: center;
}

#not_summary {
    scroll-snap-align: start;
    background-image: linear-gradient(to top, #202124, #293b49, #1f596b, #007a82, #009b8c, #009c8d, #009d8e, #009e8f, #007f88, #266072, #314351, #292a2d);}

/* Summary */

#photo {
    animation: forwards rotateToAppear 1.5s 2s;
    visibility: hidden;
}

#summary {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    scroll-snap-align: center;
}

#summary_name {
    animation: forwards slideInLeft 1.5s 2s;
    font-size: 4em;
    margin-block-end: 20px;
    text-align: center;
    visibility: hidden;
}

#summary_motto {
    /* TODO: Bold font moins gras que l'élément du dessus */
    animation: forwards slideInLeft 1.5s 2s;
    font-size: 1.8em;
    margin-block: 0;
    text-align: center;
    visibility: hidden;
}

#social_media {
    animation: forwards slideInRight 1.5s 2s;
    margin-top: 10px;
    max-width: 400px;
    visibility: hidden;
    width: 50%;
}

#social_media>ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}

.media {
    display: inline;
}

.media>a>img {
    transition: linear 0.1s;
}

.media>a>img:hover {
    opacity: 0.8;
    transform: scale(1.3);
}

/* About */

#about {
    height: 100vh;    
}

/* Portfolio */

#portfolio {
    height: 100vh;
}

/* Contact */

#contact {
    box-shadow: 0 5px 10px 0 #080808;
}

#formulaire {
    padding-bottom: 70px;
}

#form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: fit-content;
    align-items: end;
}

.input {
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px solid #252525;
    border-radius: 8px;
    color: rgb(200, 200, 200);
    font-size: 15px;
    height: 30px;
    margin: 10px 0;
    min-width: 200px;
    padding: 0;
    padding-left: 5px;
    width: 30vw;
}

.input:invalid {
    border-color: rgba(197, 70, 70, 0.7);
}

.input:valid {
    border-color: rgba(70, 197, 123, 0.7);
}

.input:focus {
    outline: none;
}

::placeholder {
    color: rgb(200, 200, 200);
}

#form_content {
    font-size: 14px;
    height: 10vh;
    padding-top: 8px;
    resize: none;
}

#submit {
    border: #808080 3px outset;
    width: 15vw;
}

#submit:active {
    border-style: inset;
}

label {
    display: none;
    font-size: 15px;
    margin-top: 12px;
    opacity: 0;
    padding: 7px;
    position: absolute;
}

.active_label {
    animation: labelAppears 0.7s forwards;
}

.hidden_label {
    animation: labelDisappears 0.7s forwards;
}

/* Other */

a {
    color: rgb(70, 197, 123);
    text-decoration: none;
}

canvas {
    background-color: #292A2D;
    left: 0;
    position: fixed;
    top: 0;
    z-index: -1;
}

#help {
    display: none;
    background-color: rgba(50, 50, 50, 0.9);
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 2;
}

#help_content {
    background-color: rgb(25, 25, 25);
    padding: 50px 50px 50px 50px;
    border-radius: 30px;
    box-shadow: black 2px 2px 10px 0;
}

.help_shown {
    animation: showHelp 0.4s normal;
}

.help_hidden {
    animation: hideHelp 0.4s normal;
}

.command_item {
    padding: 7px 0;
}

.key {
    border-radius: 5px;
    padding: 4px;
    border:rgb(70, 70, 70) thin groove;
}

/* Animations */

@keyframes slideInLeft {
    0% {
        transform: translateX(-200%);
    }

    50% {
        transform: translateX(10%);
    }

    100% {
        transform: translateX(0);
        visibility: visible;
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(200%);
    }

    50% {
        transform: translateX(-10%);
    }

    100% {
        transform: translateX(0);
        visibility: visible;
    }
}

@keyframes rotateToAppear {
    0% {
        transform: scale(0) rotate(0deg);
    }

    100% {
        transform: scale(1) rotate(360deg);
        visibility: visible;
    }
}

@keyframes labelAppears {
    0% {
        transform: translate(0);
    }

    50% {
        transform: translate(-130%);
    }

    100% {
        opacity: 1;
        transform: translate(-110%);
    }
}

@keyframes labelDisappears {

    0% {
        opacity: 1;
        transform: translate(-110%);
    }

    30% {
        transform: translate(-130%);
    }

    100% {
        opacity: 0;
        transform: translate(0);
    }
}

@keyframes showHelp {

    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes hideHelp {

    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(0);
    }
}

@media screen and (max-width: 500px){
    footer {
        flex-direction: column;
        padding: 30px;
    }

    .site_map_item{
        display: inline;
        margin-right: 4vw;
    }
}